.carousel-inner {
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden;
}
.carousel-control-next-icon {
  background-image: url('~/public/assets/images/icon/Asset 8ldpi.png');
  height: 90px;
}
.carousel-control-prev-icon {
  background-image:url('~/public/assets/images/icon/Asset 9ldpi.png');
  height: 90px;
}
