/* photo-gallery */
.photo-gallery{
    padding-bottom: 40px;
}
.photo-gallery .text-arrival{
    padding: 20px 0;
    text-align: center;
    color: #1c2b7f;
}
.photo-gallery .text-arrival img{
    width: 150px;
}
